<img src="../../assets/svg/replay.svg" *ngIf="started" alt="replay" aria-label="replay" (click)="triggerReset.emit()">
<img src="../../assets/svg/play.svg" *ngIf="!started" alt="start" aria-label="start" (click)="triggerStart.next(false)">
<img src="../../assets/svg/skip_next.svg" *ngIf="started" alt="next" aria-label="next"
     (click)="triggerNext.next(currentStepIndex + 1)">
<img src="../../assets/svg/pause.svg" *ngIf="started && !paused" alt="pause" aria-label="pause"
     (click)="triggerPause.emit(true)">
<img src="../../assets/svg/play.svg" *ngIf="started && paused" alt="start" aria-label="start"
     (click)="triggerPause.emit(false)">
