@import "../common";

div.container {
  height: 100%;
  width: 100%;
}

.banner {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $main-color;
  color: white;
  font-weight: 600;


  &.main {
    background-color: $main-color;
    color: white;
  }

  &.second {
    background-color: white;
    color: $main-color;
  }

  div {
    display: flex;
    align-items: center;

    img, h1 {
      color: white;
      cursor: pointer;
    }
  }

  p {
    margin-right: 1rem;
  }
}

div.header-inline {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;

  img {
    margin: 5px;
  }
}
