<div class="app-container">
  <!-- Toolbar -->
  <div class="header main" role="banner">
    <div class="banner">
      <div>
        <img (click)="reload()"
             width="40"
             alt=" Logo"
             src="assets/icons/sports-24px.svg"
        />
        <h1 (click)="reload()">Workout</h1>
      </div>
      <p *ngIf="started">{{ (currentStepIndex + 1) }} / {{ numberOfSteps }}</p>
    </div>
    <div class=" banner second">
      <div class="left">
        <app-ctrl [currentStepIndex]="currentStepIndex" [paused]="paused" [started]="started"
                  (triggerPause)="onPaused($event)" (triggerNext)="onNext($event)" (triggerReset)="onReset()" (triggerStart)="onStart($event)">
        </app-ctrl>
      </div>
      <div class="right">
        <app-prefs></app-prefs>
      </div>
    </div>
  </div>

  <div class="content" role="main">
    <ng-container *ngIf="started && (currentStepIndex - 1) === numberOfSteps">
      <p>That all folks!</p>
    </ng-container>
    <ng-container *ngIf="started && currentStepIndex <= numberOfSteps && !hideCounter">
      <span> {{currentCount}}</span>
      <p> {{ stepLabel }} </p>
    </ng-container>
    <ng-container *ngIf="hideCounter">
      <h1>3, 2, 1 Go!!!</h1>
      <p> {{ stepLabel }} </p>
    </ng-container>
    <ng-container *ngIf="!started">
      <p>Let's go</p>
      <app-stats></app-stats>
    </ng-container>
    <ng-container *ngIf="nextStepLabel && started">
      <p class="small"><u>Prochaine étape</u> : {{ nextStepLabel }}</p>
    </ng-container>
  </div>
</div>
