<div class="app-container">
  <!-- Toolbar -->
  <div class="header main" role="banner">
    <div class="banner">
      <div>
        <img (click)="reload()"
             width="40"
             alt=" Logo"
             src="assets/icons/sports-24px.svg"
        />
        <h1 (click)="reload()">Workout</h1>
      </div>
      <p *ngIf="started">{{ (currentStepIndex + 1) }} / {{ numberOfSteps }}</p>
    </div>
    <div class=" banner second">
      <div class="left">
        <img src="../../assets/svg/replay.svg" aria-label="Next" *ngIf="started && currentStepIndex <= numberOfSteps "
             (click)="reset.next()">
        <img src="../../assets/svg/play.svg" (click)="start.next(false)" aria-label="Start"
             *ngIf="!started || (currentStepIndex - 1) === numberOfSteps ">
        <img src="../../assets/svg/skip_next.svg" aria-label="Start"
             *ngIf="started && currentStepIndex <= numberOfSteps " (click)="next.next(currentStepIndex + 1)">
        <img src="../../assets/svg/pause.svg" *ngIf="started && !paused" aria-label="Start" (click)="paused = !paused">
        <img src="../../assets/svg/play.svg" *ngIf="started && paused" aria-label="Start" (click)="paused = !paused">
      </div>
      <div class="right">
        <img src="../../assets/svg/volume_down.svg" (click)="triggerVolume()" *ngIf="prefs.volumeOn">
        <img src="../../assets/svg/volume_off.svg" (click)="triggerVolume()" *ngIf="!prefs.volumeOn">
      </div>
    </div>
  </div>

  <div class="content" role="main">
    <ng-container *ngIf="started && (currentStepIndex - 1) === numberOfSteps">
      <p>That all folks!</p>
    </ng-container>
    <ng-container *ngIf="started && currentStepIndex <= numberOfSteps && !hideCounter">
      <span> {{currentCount}}</span>
      <p> {{ stepLabel }} </p>
    </ng-container>
    <ng-container *ngIf="hideCounter">
      <h1>3, 2, 1 Go!!!</h1>
      <p> {{ stepLabel }} </p>
    </ng-container>
    <ng-container *ngIf="!started">
      <p>Let's go</p>
      <ul>
        <li *ngIf="stats.total > 0">Total : {{stats.total}}</li>
        <li *ngIf="stats.total > 0">Last 30 : {{stats.last30}}</li>
        <li *ngIf="stats.total > 0">Consecutive : {{stats.consecutive}}</li>
      </ul>
      <img class="stats" src="../../assets/svg/clear.svg" (click)="clearStats()">
    </ng-container>
    <ng-container *ngIf="nextStepLabel && started">
      <p class="small"><u>Prochaine étape</u> : {{ nextStepLabel }}</p>
    </ng-container>
  </div>
</div>
