<div class="app-container">
  <!-- Toolbar -->
  <div class="header main" role="banner">
    <div class="banner">
      <div>
        <img routerLink="/"
             width="40"
             alt=" Logo"
             src="assets/icons/sports-24px.svg"
        />
        <h1 routerLink="/">Workout</h1>
      </div>
      <p *ngIf="numberOfSteps && currentStepIndex <= numberOfSteps">{{ currentStepIndex }} / {{ numberOfSteps }}</p>
    </div>
    <div class="banner second">
      <div class="left">
        <img src="../../assets/svg/replay.svg" aria-label="Next" *ngIf="started && currentStepIndex <= numberOfSteps "
             [routerLink]="'/'">
        <img src="../../assets/svg/play.svg" (click)="ngOnDestroy()" aria-label="Start"
             *ngIf="!started || (currentStepIndex - 1) === numberOfSteps " routerLink="/1">
        <img src="../../assets/svg/skip_next.svg" aria-label="Start"
             *ngIf="started && currentStepIndex <= numberOfSteps " (click)="ngOnDestroy()"
             [routerLink]="'/' + (currentStepIndex+1)">
        <img src="../../assets/svg/pause.svg" aria-label="Start"
             *ngIf="started && !paused" (click)="paused = !paused">
        <img src="../../assets/svg/play.svg" aria-label="Start"
             *ngIf="started && paused" (click)="paused = !paused">
      </div>
      <div class="right">
        <img src="../../assets/svg/volume_down.svg" (click)="triggerVolume()" *ngIf="prefs.volumeOn">
        <img src="../../assets/svg/volume_off.svg" (click)="triggerVolume()" *ngIf="!prefs.volumeOn">
        <img src="../../assets/svg/clear.svg" *ngIf="!started" (click)="clearStats()">
        <img src="../../assets/svg/update.svg" *ngIf="!started && !hideRefresh" (click)="refresh()">
      </div>
    </div>
  </div>

  <div class="content" role="main">
    <ng-container *ngIf="started && (currentStepIndex - 1) === numberOfSteps">
      <p>That all folks!</p>
    </ng-container>
    <ng-container *ngIf="started && currentStepIndex <= numberOfSteps && !hideCounter">
      <span> {{countDownStart}}</span>
      <p> {{ stepLabel }} </p>
    </ng-container>
    <ng-container *ngIf="hideCounter">
      <p>3, 2, 1 Go!!!</p>
    </ng-container>
    <ng-container *ngIf="!started">
      <p>Let's go</p>
      <p *ngIf="stats.total > 0">Total : {{stats.total}}</p>
    </ng-container>
    <ng-container *ngIf="nextStepLabel">
      <p class="small"><u>Prochaine étape</u> : {{ nextStepLabel }}</p>
    </ng-container>
  </div>
</div>
