<div class="content" role="main">
  <ng-container *ngIf="started && (currentStepIndex - 1) === numberOfSteps">
    <p>That all folks!</p>
  </ng-container>
  <ng-container *ngIf="started && currentStepIndex <= numberOfSteps && !hideCounter">
    <span> {{currentCount}}</span>
    <p> {{ stepLabel }} </p>
  </ng-container>
  <ng-container *ngIf="!started">
    <p>Let's go</p>
    <app-stats></app-stats>
  </ng-container>
  <ng-container *ngIf="nextStepLabel && started">
    <p class="small"><u>Prochaine étape</u> : {{ nextStepLabel }}</p>
  </ng-container>
</div>

